/*General*/
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'AudioWide';
    src: url(../fonts/Audiowide-Regular.ttf);
}

.AudioWide {
    font-family: 'AudioWide';
}

.Logo, img {
    width: 150px;
}

.TitleLogo {
    font-size: 50px;
}
.card-body {
    padding: 0;
}

#editor { 
    position: relative;
    width: auto;
    height: 400px;
}